extends ../layout

block content
  script.
    //for change Eng YYYY-mm-dd to dd/mm/yyyy of Thai
    function EngThaiDate(register){
      let registers = new Date(register);
      let dd = registers.getDate();
      let mm = registers.getMonth()+1;
      let yyyy = registers.getFullYear();
      dd = (dd < 10 ? '0' : '') + dd;
      mm = (mm < 10 ? '0' : '') + mm;
      let ddmmyyyy = dd+'/'+mm+'/'+(yyyy+543);
      return ddmmyyyy;
    }
  h1.text-primary #{title}
  p.lead.text-success #{caption}
  hr
  .row
    .col-md-6      

      a.btn.btn-outline-dark(href="/member") 
        i.fas.fa-angle-double-left(style='font-size:24px;color:red') ย้อนกลับ
          
      //- a.btn.btn-primary(href="/member") << BACK TO MEMBER
    .dol-md-6
      //- a.btn.btn-primary(href="/member") << BACK TO MEMBER
  hr
  .row
    .col-md-12
      if result
        <div class="table-responsive">
          <table id="dataTable" class="table table-hover bg-gray-800">
            <thead>
              <tr class="text-primary bg-dark">
                  <th>NO.</th> 
                  <th>MEMBER ID</th>
                  <th>HOME NO</th>
                  <th>GROUP NO</th>
                  <th>VILLAGE</th>
                  <th>SUB DISTRICT</th>
                  <th>DISTRICT</th>
                  <th>PROVINCE</th>
                  <th>POSTCODE</th>
                  <th>REGISTER</th>
                  <th>TYPE MEMBER</th>
                  <th>SHARE HOLDER</th>
                  <th>IDCARD</th>

                  <th>PHONE</th>
                  <th>NOTES</th>
                  <th>CREATED AT</th>
                  <th>UPDATED AT</th>
                  <th>STATUS ID</th>
              </tr>
            </thead>
            <tbody>
              - var ii=1 
              each i in result
                if i.memberType == 'วิสามัญ'
                  tr.text-warning
                    td=ii++
                    td=i.memberId
                    td=i.homeNo
                    td=i.groupNo
                    td=i.village
                    td=i.subDistrict
                    td=i.district
                    td=i.province
                    td=i.postCode
                    td=(i.register.getDate() < 10 ? '0'+i.register.getDate(): i.register.getDate())+'/'+(i.register.getMonth() < 10 ? '0'+(i.register.getMonth()+1): (i.register.getMonth()+1))+'/'+(i.register.getFullYear()+543)
                    
                    td=i.memberType

                    td=i.shareHolder
                    td=i.IDCARD
                    td=i.phone
                    td=i.notes
                    td=(i.createdAt.getDate() < 10 ? '0'+i.createdAt.getDate(): i.createdAt.getDate())+'/'+(i.createdAt.getMonth() < 10 ? '0'+(i.createdAt.getMonth()+1): (i.createdAt.getMonth()+1))+'/'+(i.createdAt.getFullYear()+543)
                    td=(i.updatedAt.getDate() < 10 ? '0'+i.updatedAt.getDate(): i.updatedAt.getDate())+'/'+(i.updatedAt.getMonth() < 10 ? '0'+(i.updatedAt.getMonth()+1): (i.updatedAt.getMonth()+1))+'/'+(i.updatedAt.getFullYear()+543)
                    if(i.statusId)
                      td ปกติ
                    else
                      td.bg-danger ยกเลิก
                if i.memberType == 'สามัญ'
                  tr.text-success
                    td=ii++
                    td=i.memberId
                    td=i.homeNo
                    td=i.groupNo
                    td=i.village
                    td=i.subDistrict
                    td=i.district
                    td=i.province
                    td=i.postCode
                    td=(i.register.getDate() < 10 ? '0'+i.register.getDate(): i.register.getDate())+'/'+(i.register.getMonth() < 10 ? '0'+(i.register.getMonth()+1): (i.register.getMonth()+1))+'/'+(i.register.getFullYear()+543)
                    if i.memberType=='วิสามัญ'
                      td.text-danger=i.memberType
                    else
                      td=i.memberType

                    td=i.shareHolder
                    td=i.IDCARD
                    td=i.phone
                    td=i.notes
                    td=(i.createdAt.getDate() < 10 ? '0'+i.createdAt.getDate(): i.createdAt.getDate())+'/'+(i.createdAt.getMonth() < 10 ? '0'+(i.createdAt.getMonth()+1): (i.createdAt.getMonth()+1))+'/'+(i.createdAt.getFullYear()+543)
                    td=(i.updatedAt.getDate() < 10 ? '0'+i.updatedAt.getDate(): i.updatedAt.getDate())+'/'+(i.updatedAt.getMonth() < 10 ? '0'+(i.updatedAt.getMonth()+1): (i.updatedAt.getMonth()+1))+'/'+(i.updatedAt.getFullYear()+543)
                    if(i.statusId)
                      td ปกติ
                    else
                      td.bg-danger ยกเลิก

                
            </tbody>
          </table>
        </div>