extends ../layout

block content
  h1.text-primary #{title} : ( Edit )
  p.lead.text-success #{caption} : ( แก้ไข )
  hr 
  //- a(href="/product/findText?findText="+findText) << BACK
  if(findText)
    a.btn.btn-outline-dark(href="/product/findText?findText="+findText) 
      i.fas.fa-angle-double-left(style='font-size:24px;color:red') ย้อนกลับ
  else
    a.btn.btn-outline-dark(href="/product/findText?findText=") 
      i.fas.fa-angle-double-left(style='font-size:24px;color:red') ย้อนกลับ

  form(method='POST' action='/product/edit/'+ _id +'/'+findText)
    .row
      .col-md-6
        .form-group
          input(name='_csrf', type='hidden', value=_csrf)
          label.col-form-label.text-primary(for='productNameTh') PRODUCT NAME TH:
          if result
            input#productNameTh.form-control.text-success(name="productNameTh" value=result.productNameTh type='text' readOnly placeholder="ชื่อไทย") 
          else
            p xxxxxxxx
            input#productNameTh.form-control.text-success(name="plantNameTh" value='' type='text' readOnly placeholder="ชื่อไทย") 
        .form-group
          label.col-form-label.text-primary(for='productNameEn') PRODUCT NAME EN:
          if result
            input#productNameEn.form-control.text-success(name="productNameEn" value=result.productNameEn type='text' placeholder="ชื่ออังกฤษ")
          else
            input#productNameEn.form-control.text-success(name="productNameEn" value='' type='text' placeholder="ชื่ออังกฤษ")
        .form-group
          label.col-form-label.text-primary(for='notes') NOTES:
          if result
            textarea#notes.form-control.text-success(name="notes" rows=3 placeholder="หมายเหตุ") #{result.notes}
          else
            textarea#notes.form-control.text-success(name="notes" rows=3 placeholder="หมายเหตุ")
        button.col-md-4.btn.btn-primary(type='submit') บันทึกแก้ไข
