extends ../layout

block content
  script.
    function setMemberHead(){
      let memberId = $('#memberId_').html();
      let IDCARD = $('#IDCARD_').html(); 
      $.ajax('/member/setMemberHead',{
        data:{memberId : memberId, IDCARD : IDCARD},
        type:'get',
        dataType: 'text',
        beforeSend: function(){
          //- alert('setMemberHead('+memberId+','+IDCARD+')');
        },
        error: function(){
          alert('Error');
        },
        success: function(result){
          var data = $.parseJSON(result);
          var okk = data.confirm;
          var dat = data.data;
          alert(okk);
        }
      });
    }
    //for change Eng YYYY-mm-dd to dd/mm/yyyy of Thai
    function EngThaiDate(register){
      let registers = new Date(register);
      let dd = registers.getDate();
      let mm = registers.getMonth()+1;
      let yyyy = registers.getFullYear();
      dd = (dd < 10 ? '0' : '') + dd;
      mm = (mm < 10 ? '0' : '') + mm;
      let ddmmyyyy = dd+'/'+mm+'/'+(yyyy+543);
      return ddmmyyyy;
    }
    //View the record of member
    function testt(_id){
      $('#idBtnSetHeade').show();
      $('#_id').html(_id);
      $.ajax('/family/findByIdInfo',{
        data:{_id:_id},
        type:'get',
        dataType: 'text',
        beforeSend: function(){
          $('#modalbody').html('');
        },
        error: function(){
          alert('Error');
        },
        success: function(result){
          var data = $.parseJSON(result);
          var okk = data.confirm;
          var dat = data.data;
          $('#headCaption').html('รายละเอียด คนในครอบครัว');
          if(okk==='success'){
            let txtTable ='<table>';
            $(dat).each(function(i, val) {
                txtTable +='<tr><th class="text-primary"> IDCARD : </th>';
                txtTable +='<th class="text-success" id="IDCARD_">'+val.IDCARD+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> FIRST NAME : </th>';
                txtTable +='<th class="text-success">'+val.firstName+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> LAST NAME : </th>';
                txtTable +='<th class="text-success">'+val.lastName+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> GENDER : </th>';
                txtTable +='<th class="text-success">'+val.gender+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> MEMBER ID : </th>';
                txtTable +='<th class="text-success" id="memberId_">'+val.memberId+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> BIRTH DATE : </th>';
                txtTable +='<th class="text-success">'+EngThaiDate(val.birthDate)+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> PHONE : </th>';
                txtTable +='<th class="text-success">'+val.phone+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> NOTES : </th>';
                txtTable +='<th class="text-success">'+val.notes+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> CREATED AT: </th>';
                txtTable +='<th class="text-success">'+val.createdAt+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> UPDATED AT : </th>';
                txtTable +='<th class="text-success">'+val.updatedAt+'</th></tr>';
                txtTable +='<caption>รายละเอียด คนในครอบครัว IDCARD '+ val.IDCARD+'</caption>';
                txtTable +='</table>';
                $('#modalbody').html(txtTable);
            });
          }
          else{
            $('#modalbody').html('Not Found Data ');
          }
        }
      });
    }
    function test(memberId){
      $('#idBtnSetHeade').hide();
      $('#_id').html('');
      $('#_id').html(memberId);
      $.ajax('/member/findByMemberIdInfo',{
        data:{memberId:memberId},
        type:'get',
        dataType: 'text',
        beforeSend: function(){
          $('#modalbody').html('');
        },
        error: function(){
          alert('Error');
        },
        success: function(result){
          var data = $.parseJSON(result);
          var okk = data.confirm;
          var dat = data.data;
          var flName = data.familyResult
          $('#headCaption').html('รายละเอียดสมาชิก');
          if(okk==='success'){
            let txtTable ='<table>';
            $(dat).each(function(i, val) {
                txtTable +='<tr><th class="text-primary"> MEMBER ID : </th>';
                txtTable +='<th id="memberId" class="text-success">'+val.memberId+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> HOME NO : </th>';
                txtTable +='<th class="text-success">'+val.homeNo+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> GROUP NO : </th>';
                txtTable +='<th class="text-success">'+val.groupNo+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> VILLAGE : </th>';
                txtTable +='<th class="text-success">'+val.village+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> SUB DISTRICT : </th>';
                txtTable +='<th class="text-success">'+val.subDistrict+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> DISTRICT : </th>';
                txtTable +='<th class="text-success">'+val.district+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> PROVINCE : </th>';
                txtTable +='<th class="text-success">'+val.province+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> POSTCODE : </th>';
                txtTable +='<th class="text-success">'+val.postCode+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> PHONE : </th>';
                txtTable +='<th class="text-success">'+val.phone+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> REGISTER : </th>';
                txtTable +='<th class="text-success">'+EngThaiDate(val.register)+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> TPYE MEMBER : </th>';
                txtTable +='<th class="text-success">'+val.memberType+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> BOND : </th>';
                txtTable +='<th class="text-success">'+val.shareHolder+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> NOTES : </th>';
                txtTable +='<th class="text-success">'+val.notes+'</th></tr>';
                txtTable +='<tr><th class="text-primary"> IDCARD : </th>';
                txtTable +='<th class="text-success">'+val.IDCARD+' : '+flName.firstName+' '+flName.lastName+'</th></tr>';
                //familyResult


                txtTable +='<tr><th class="text-primary"> STATUS : </th>';
                if(val.statusId == 1)
                  txtTable +='<th class="text-success">ปกติ</th></tr>';
                else
                  txtTable +='<th class="text-success">ออก</th></tr>';
                txtTable +='<caption>รายละเอียดสมาชิก เลขที่ '+ val.memberId+'</caption>';
                txtTable +='</table>';
                $('#modalbody').html(txtTable);
                $('#modalbody').html(txtTable);
            });
          }
          else{
            $('#modalbody').html('Not Found Data ');
          }
        }
      });
    }
    //confirm remove area Id out
    //confirmRemove memberId areaId findText _id 0
    function confirmRemove(memberId, areaId, findText, _id, flagSetGet){
      console.log(memberId + ','+areaId+', '+findText+', '+_id+', '+flagSetGet);
      var confirmYesNo = confirm("Remove Area ID : "+areaId+" Yes or No?");
      if (confirmYesNo == true) {
        alert('remove');
        location.href ="/memberArea/setAreaIdToMember/"+memberId+"/"+areaId+"/"+ findText +"/"+_id+"/"+flagSetGet;
      }
    }

  h1.text-primary #{title}
  //- p.lead.text-success #{caption} สมาชิก : #{memberId}
  p.lead.text-success #{caption} สมาชิก :
    a(data-target='.bd-example-modal-lg', data-toggle='modal', href="", onClick="test(\'"+memberId+"\')") #{memberId}
  hr
  .row
    .col-md-6
      h2 สมาชิกในครอบครัว

      if(findText)
        a.btn.btn-outline-dark(href="/memberFamily/"+findText) 
          i.fas.fa-angle-double-left(style='font-size:24px;color:red') ย้อนกลับ
      else
        a.btn.btn-outline-dark(href="/memberFamily/") 
          i.fas.fa-angle-double-left(style='font-size:24px;color:red') ย้อนกลับ
          
      form(method='POST' action='/memberFamily/findIDCARD/'+memberId)
        input(name='_csrf', type='hidden', value=_csrf)
        input(name='findText_', type='hidden', value=findText)
        label.col-md-3.col-form-label.font-weight-bold.text-left.text-primary(for='findTextArea') IDCARD :
        if findTextIDCARD
          input(id="findTextIDCARD" name="findTextIDCARD" type="text" value=findTextIDCARD placeholder="Find With Area Id")
        else
          input(id="findTextIDCARD" name="findTextIDCARD" type="text" value='' placeholder="Find With Area Id")
        button.col-md-3.btn.btn-primary(type='submit') ค้นหา
      hr
      if familyResultNotIn
        - let i=1
        table#dataTable.table.table-hover.bg-gray-800
          thead
            tr.text-primary.bg-dark
              th No.
              th IDCARD
              th FIRST-LAST NAME
              th BIRTH DATE
              th GENDER
            tbody
              each val in familyResultNotIn
                tr
                  td.
                    #{i++}.
                  td 
                    a(href="/memberFamily/setIDCARDToMember/"+memberId+"/"+val.IDCARD+"/"+findText+"/"+val._id+"/1/"+findTextIDCARD) 
                      i.fa.fa-plus.text-success #{val.IDCARD}
                  td
                    a(data-target='.bd-example-modal-lg', data-toggle='modal', href="", onClick="testt(\'"+val._id+"\')")  #{val.firstName}    #{val.lastName}
                  td=(val.birthDate.getDate() < 10 ? '0'+val.birthDate.getDate(): val.birthDate.getDate())+'/'+(val.birthDate.getMonth() < 10 ? '0'+(val.birthDate.getMonth()+1): (val.birthDate.getMonth()+1))+'/'+(val.birthDate.getFullYear()+543)
                  td=val.gender
    .col-md-6
      if familyResult
        - let ii=1 
        table#dataTable0.table.table-hover.bg-gray-800
          thead
            tr.text-default.bg-success
              th No.
              th IDCARD
              th FIRST-LAST NAME
              th BIRTH DATE
              th GENDER
          tbody
            each val in familyResult
              tr
                td
                  a(href="/memberFamily/setIDCARDToMember/"+memberId+"/"+val.IDCARD+"/"+findText+"/"+val._id+"/0/"+findTextIDCARD) 
                    i.fa.fa-minus.text-danger #{ii++} .
                td
                  a(data-target='.bd-example-modal-lg', data-toggle='modal', href="", onClick="testt(\'"+val._id+"\')") #{val.IDCARD}
                td=val.firstName+' '+val.lastName
                td=(val.birthDate.getDate() < 10 ? '0'+val.birthDate.getDate(): val.birthDate.getDate())+'/'+(val.birthDate.getMonth() < 10 ? '0'+(val.birthDate.getMonth()+1): (val.birthDate.getMonth()+1))+'/'+(val.birthDate.getFullYear()+543)
                td=val.gender
          caption สมาชิก #{memberId} ลงทะเบียนจำนวน #{familyResult.length}

    .col-md-6
      .modal.fade.bd-example-modal-lg(role='dialog', aria-hidden='true', aria-labelledby='myLargeModalLabel', tabindex='-1')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header.bg-dark
              h3#headCaption.text-success รายละเอียด คนในครอบครัว
              span#_id(style="display:none")
              //- span#_id(style="display:show")
            .modal-body#modalbody
              p modal body show

            .modal-footer
              button.btn.btn-secondary(data-dismiss='modal', type='button' onClick="setMemberHead()" id="idBtnSetHeade") Set Head :เป็นหัวหน้าครอบครัว
              button.btn.btn-secondary(data-dismiss='modal', type='button') Close : ปิด
