extends ../layout

block content
  script.
    //for change Eng YYYY-mm-dd to dd/mm/yyyy of Thai
    function EngThaiDate(register){
      let registers = new Date(register);
      let dd = registers.getDate();
      let mm = registers.getMonth()+1;
      let yyyy = registers.getFullYear();
      dd = (dd < 10 ? '0' : '') + dd;
      mm = (mm < 10 ? '0' : '') + mm;
      let ddmmyyyy = dd+'/'+mm+'/'+(yyyy+543);
      return ddmmyyyy;
    }

  h1.text-primary #{title}
    i.fas.fa-file
  p.lead.text-success #{caption}
  hr

  .row
    .col-md-12
      if resultPlant
        <div class="table-responsive">
          <table id="dataTable" class="table table-hover bg-gray-800">
            <thead>
              <tr class="text-primary bg-dark">
                  <th>NO.</th> 
                  <th>PLANT NAME TH</th>
                  <th>PLANT NAME EN</th>
                  <th>CREATED AT</th>
                  <th>UPDATED AT</th>
              </tr>
            </thead>
            <tbody>
              - var ii=1 
              each i in resultPlant
                tr.text-success
                  th=ii++  
                  td=i.plantNameTh
                  td=i.plantNameEn
                  td=(i.createdAt.getDate() < 10 ? '0'+i.createdAt.getDate(): i.createdAt.getDate())+'/'+(i.createdAt.getMonth() < 10 ? '0'+(i.createdAt.getMonth()+1): (i.createdAt.getMonth()+1))+'/'+(i.createdAt.getFullYear()+543)
                  td=(i.createdAt.getDate() < 10 ? '0'+i.createdAt.getDate(): i.createdAt.getDate())+'/'+(i.createdAt.getMonth() < 10 ? '0'+(i.createdAt.getMonth()+1): (i.createdAt.getMonth()+1))+'/'+(i.createdAt.getFullYear()+543)
            </tbody>
            <caption>รายการพันธุ์พืชปัจจุบัน #{ii} รายการ </caption>
          </table>
        </div>

